@{
	ViewData["Title"] = "Page not found";
	Layout = "_ErrorLayout";
}﻿
<section class="container py-5">
	<article class="text-center">
		<h3 class="mb-3">404Not Found</h3>
		<p>
			お探しのページは一時的にアクセスができない状況にあるか、移動もしくは削除された可能性があります。 また、URL、ファイル名にタイプミスがないか再度ご確認ください。
		</p>
	</article>
</section>
